<%- include("partials/top.ejs") %>
<div class="container mb-5 mt-4">
  <div class="d-flex mb-4 align-items-center">
    <h4 class="text-capitalize mr-auto">Contacts</h4>
    <a
      class="btn btn-primary btn-sm text-capitalize"
      href="/contacts/add"
      role="button"
      >add contact</a
    >
  </div>
  <span class="text-muted">
    <small>
      Unverified contacts will not receive sms and voice notifications but can
      continue to monitor.
    </small>
  </span>

  <% if (contacts.length > 0) { %>
  <ul class="list-group mt-4">
    <% contacts.forEach(function(contact){ %>
    <li class="list-group-item d-flex align-items-center">
      <div class="mr-auto">
        <span class="mr-2 text-capitalize">
          <%= contact.name %> - <%= contact.number %>
        </span>

        <% if (contact.verified) { %>
        <span class="badge badge-success font-weight-light py-1">verified</span>
        <% } else { %>
        <span class="badge badge-danger font-weight-light py-1"
          >unverified</span
        >
        <% } %>
      </div>

      <a role="button" href="/contacts/<%= contact._id %>/edit">
        <i class="fas fa-edit"></i>
      </a>
    </li>
    <% }); %>
  </ul>

  <% } else { %>
  <h5 class="text-capitalize text-muted">no contacts yet.</h5>
  <% } %>

  <a class="btn btn-secondary text-capitalize mt-5" href="/" role="button">
    <i class="fas fa-arrow-left"></i>
    <span>back</span>
  </a>
</div>
<%- include("partials/bottom.ejs") %>
