<%- include("partials/top.ejs") %>
<div class="container mb-5 mt-4">
  <div class="d-flex flex-wrap align-items-center">
    <h4 class="text-capitalize mr-auto">update <%= contact.name %>'s number</h4>
    <button
      id="delContactBtn"
      type="button"
      class="btn btn-danger btn-sm text-capitalize"
    >
      delete contact
    </button>
  </div>
  <form id="editingForm" class="mt-4">
    <div class="form-group">
      <label for="number">Contact Number</label>

      <%- include("partials/alert.ejs") %>

      <input type="text" value="<%= contact._id %>" id="id" hidden />

      <input
        type="number"
        value="<%= contact.number %>"
        class="form-control"
        id="number"
      />
    </div>

    <div class="d-flex mt-4">
      <a
        id="cancelBtn"
        class="btn btn-secondary text-capitalize mr-auto"
        href="/contacts"
        role="button"
        >cancel</a
      >
      <button
        id="submitBtn"
        type="submit"
        class="btn btn-primary text-capitalize"
      >
        submit
      </button>
    </div>
  </form>
</div>
<%- include("partials/scripts.ejs") %>
<script src="/scripts/editContact.js"></script>
<%- include("partials/bottom.ejs") %>
